@using EcommerceShop.Shared.Product
@model IList<ProductVm>
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Home Page";
    var backendUrl = Configuration.GetServiceUri("backend");
}
<section class="latest-product-area latest-padding">
    <div class="container">
        <div class="row product-btn d-flex justify-content-between">
            <div class="properties__button">
                <!--Nav Button  -->
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Các sản phẩm liên quan</a>
                    </div>
                </nav>
                <!--End Nav Button  -->
            </div>
           
        </div>
        <!-- Nav Card -->
        <div class="tab-content" id="nav-tabContent">
            <!-- card one -->
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <a asp-action="Detail" asp-controller="Products" asp-route-id="@item.ProductId">
                                        <img src="@backendUrl/@item.getFirstUrl()" alt="img-product">
                                    </a>
                                </div>
                                <div class="product-caption">
                                    <p>
                                        <span>
                                            @{
                                                for (int i = 1; i <= item.total(); i++)
                                                {
                                                    <i class="fas fa-star" style="color:yellow"></i>
                                                }
                                                for (int i = 1; i <= 5 - item.total(); i++)
                                                {
                                                    <i class="far fa-star"></i>
                                                }
                                            }
                                        </span>
                                    </p>
                                    <h4><a asp-action="Detail" asp-controller="Products" asp-route-id="@item.ProductId">@item.Name</a></h4>
                                    <div class="price">
                                        <ul>
                                            <li style="color:red">@item.Price VND</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- End Nav Card -->
    </div>
</section>